.login{
    background-color: #0F4C7D;
}
.fs-21{
    font-size: 21px;
}
.fs-13{
    font-size: 13px;
}
.btn-blue{
    background-color: #0F4C7D;
    color: #fff;
    border-color: #0F4C7D;
}


/* topbar */
.topbar{
    background-color: #0F4C7D;
    color: #fff;
}

/* sidebar */
a.active, a.active * {
    color: #0F4C7D !important;
    stroke: #0F4C7D;
    font-weight: 500;
}


/* dashboard */
.text-blue{
    color: #0F4C7D;
}


/* table */
td.border.w-full.p-2 {
    border: unset;
    border-bottom: 2px solid #e3e3e3;
}

/* productivity */
.productivity{
    background-color: #D5E9FE;
}