@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    
}
body{
    background-color: #F5F5F5;
}
.login{
    background-color: #D5E9FE;
}
.fs-21{
    font-size: 21px;
}
.fs-13{
    font-size: 13px;
}
.btn-blue{
    background-color: #0F4C7D;
    color: #fff;
    border-color: #0F4C7D;
}


/* topbar */
.topbar{
    background-color: #0F4C7D;
    color: #fff;
}

/* sidebar */
a.active, a.active * {
    color: #0F4C7D !important;
    stroke: #0F4C7D;
    font-weight: 500;
}

.sidebar .active button {
    color: #0F4C7D;
    stroke: #0F4C7D;
    font-weight: 500;
}

.angle{
    transition: all 0.3s ease;
}
.sidebar .active .hidden {
    display: block;
    transition: 0.5s;
}
.sidebar .active .angle {
    transform: rotate(-90deg);
}


/* dashboard */
.text-blue{
    color: #0F4C7D;
}

.dash-card{
    border: 2px solid #C8C8C8;
    overflow: hidden;
}

.text-gray-500 {
    color: #111111;
}


/* table */
td.border.w-full.p-2 {
    border: unset;
    border-bottom: 2px solid #e3e3e3;
}

/* productivity */
.productivity{
    background-color: #D5E9FE;
}

/* input focus */
input:focus, textarea:focus, select:focus{
    box-shadow: unset !important;
    outline: unset !important;
}


/* tttable */
.tttable td{
    width: 25%;
}


/* create new worksite */
.fs-18{
    font-size: 18px;
}



/* profile */
.fs-22{
    font-size: 22px;
}
.fs-10{
    font-size: 10px;
}
.fs-14{
    font-size: 14px;
}

/* tab btns */
.bg-transparent{
    background-color: transparent !important;
}
Button span{
    line-height: 1.2;
}
.tab-buttons button{
    overflow: hidden;
}


/* profile modal */
.modal {
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    max-width: 98%;
    position: relative;
    margin: 0 auto;
}

/* edit site manager */
.fs-12 {
    font-size: 12px;
}


/* making fixed height body */
body{
    height: 100vh;
    overflow: hidden;
}
.content-holder {
    height: calc(100vh - 60px);
    overflow-y: scroll;
}


/* login responsive */

@media screen and (max-width: 1600px){
    .login.min-h-screen.\32 xl\:p-40.\32 xl\:px-96.xl\:p-40 {
        padding: 0 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1400px){
    .login__container__left .text-center {
        padding: 25px;
    }
}

@media screen and (max-width: 1300px){
    .login.min-h-screen.\32 xl\:p-40.\32 xl\:px-96.xl\:p-40 {
        padding: 0 100px;
    }
}

@media screen and (max-width: 1100px){
    .login.min-h-screen.\32 xl\:p-40.\32 xl\:px-96.xl\:p-40 {
        padding: 0 50px;
    }
}
@media screen and (max-width: 992px){
    .login.min-h-screen.\32 xl\:p-40.\32 xl\:px-96.xl\:p-40 {
        padding: 50px 150px;
    }
    .login__container {
        flex-direction: column-reverse;
        display: flex;
    }
}

@media screen and (max-width: 768px){
    .login.min-h-screen.\32 xl\:p-40.\32 xl\:px-96.xl\:p-40 {
        padding: 50px;
    }
}

@media screen and (max-width: 600px){
    .login.min-h-screen.\32 xl\:p-40.\32 xl\:px-96.xl\:p-40 {
        padding: 10px;
    }
}